---
import { getLangFromUrl, useTranslations } from "../i18n/utils";
import "@fontsource-variable/fira-code";
import "@fontsource-variable/open-sans";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang)
---

<footer
  id="contact"
  class="px-8 lg:px-40 mb-20">
  <h1 class="text-dirtyWhite font-firacode text-xl lg:text-3xl text-right pr-40">
    {`.../${t('contact.title')}...`}
  </h1>
  <div class="flex flex-col lg:flex-row mt-12">
    <div class="lg:hidden w-min lg:w-2/5">
      <div class=" flex flex-col border border-darkGray rounded-[40px] p-8 text-dirtyWhite text-lg lg:text-2xl font-firacode space-y-2 lg:space-y-8 font-thin">
        <a 
        href="tel:+34 626 655 430" class="hover:text-lightGray hover:underline transition-all delay-150">
        626 655 430</a>
        <a href={`mailto:${t('contact.mail')}`} class="hover:text-lightGray hover:underline transition-all delay-150">{t('contact.mail')}</a>
      </div>
    </div>
    <div class="w-full lg:w-3/5 pt-10 lg:pt-12">
      <h1 class="text-5xl lg:text-7xl font-firacode text-dirtyWhite">Ancel</h1>
      <div class="flex flex-row mt-2">
        <div
          class="flex flex-col text-lightGray pr-8 justify-center font-opensans text-sm lg:text-xl"
        >
          <p>{t('header.title1')}</p>
          <p>{t('header.title2')}</p>
        </div>
        <h1 class="text-5xl lg:text-7xl font-firacode text-dirtyWhite">Guarayo</h1>
      </div>
    </div>
    <div class="hidden lg:flex w-full lg:w-2/5 h-min">
      <div class=" flex flex-col border border-darkGray rounded-[40px] p-8 text-dirtyWhite text-2xl font-firacode space-y-8 font-thin">
        <a href={`tel:+34 ${t('contact.phone')}`} class="hover:text-lightGray hover:underline transition-all delay-150">{t('contact.phone')}</a>
        <a href={`mailto:${t('contact.mail')}`} class="hover:text-lightGray hover:underline transition-all delay-150">{t('contact.mail')}</a>
      </div>
    </div>
  </div>
  <a href="#" class="flex text-center text-dirtyWhite justify-center w-full pt-16 pb-4">{t('contact.cookies')}</a>
</footer>
