---
import { getLangFromUrl } from "../i18n/utils";
import { content } from "../utils/content";
import '@fontsource-variable/fira-code';
import '@fontsource-variable/open-sans';
import Links from "./Links.astro";

const lang = getLangFromUrl(Astro.url);
// const t = useTranslations(lang);
const text = content[lang]
---
<div class={`py-28 ${lang === 'es' ? 'w-[1050px]' : 'w-[900px]'}  mx-auto space-y-8`}>
  <div class="flex flex-row justify-between items-center">
    <h1 class="text-dirtyWhite font-semibold text-8xl font-firacode">{text.header.title1}</h1>
    <a href="#projects" class="flex items-center px-20 h-[55px] bg-dirtyWhite rounded-full">{text.header.button}</a>
  </div>
  <div class="flex flex-row items-center">
    <p class="font-opensans text-lightGray text-xl w-[400px] font-light items-center">{text.header.description}</p>
    <h1 class="pl-20 text-dirtyWhite font-semibold text-8xl font-firacode">{text.header.title2}</h1>
  </div>
  <Links />
</div>