---
import Github from './icons/Github.astro'
import Linkedin from './icons/Linkedin.astro'
import Cv from './icons/Cv.astro'

const LINKS = [
  {
    icon: Github,
    name: 'GitHub',
    link: 'https://github.com/anceldev',
  },
  {
    icon: Linkedin,
    name: 'Linkedin',
    link: 'https://www.linkedin.com/in/ancel-guarayo-9b5b95267/',
  },
  {
    icon: Cv,
    name: 'CV',
    link: 'downloadCV',
  },
];
---
<div>
  <ul class="flex flex-row flex-wrap gap-4 lg:gap-12 text-lightGray">
    {
      LINKS.map((link) => (
        <li class="rounded-full border w-min lg:w-auto py-3 px-5 border-darkGray hover:border-dirtyWhite hover:text-dirtyWhite transition-all delay-150">
          <a href={link.link} class="flex flex-row gap-2 italic font-light transition delay-150">
            <link.icon class="text-dirtyWhite" />
            {link.name}
          </a>
        </li>
      ))
    }
  </ul>
</div>