---
import Hero from "@/components/cv/Hero.astro";
import About from "@/components/cv/About.astro";
import Education from "@/components/cv/Education.astro";
import Experience from "@/components/cv/Experience.astro"
import Projects from "@/components/cv/Projects.astro";
import Skills from "@/components/cv/Skills.astro"
import KeyboardManager from "@/components/cv/KeyboardManager.astro";
// import { Hero, About, Education, Projects } from "@/components/cv"
---

<main class="mt-16 print:mx-14">
  <Hero />
  <About />
  <Education />
  <Experience />
  <Skills />
  <Projects />
  <KeyboardManager />
</main>